@use "../../global" as g;

.p-footer {
  &__nav {
    padding: 49px 0 165px;
    @include g.mq(md) {
      padding: 0 0 48px;
    }
  }
  &__list {
    display: flex;
    list-style: none;
    @include g.mq(md) {
      justify-content: center;
    }
  }
  &__item {
    &:not(:first-child) {
      padding-left: 21px;
    }
    &:not(:last-child) {
      padding-right: 21px;
      border-right: 1px solid #fff;
    }
    @include g.mq(md) {
      &:not(:first-child) {
        padding-left: 12px;
      }
      &:not(:last-child) {
        padding-right: 12px;
        border-right: 1px solid #fff;
      }
    }
  }
  &__link {
    @include g.font-size(16);
    font-weight: bold;
    color: #fff;
    &:hover {
      opacity: 0.8;
    }
    @include g.mq(md) {
      @include g.font-size(14);
    }
  }
  &__heading {
    position: absolute;
    top: 35px;
    right: 13%;
    @include g.mq(lg) {
      right: 8%;
    }
    @include g.mq(md) {
      position: static;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  &__logo-wrapper {
    margin-bottom: 27px;
    @include g.mq(md) {
      margin-bottom: 0;
    }
  }
  &__logo {
    background-color: #fff;
    padding: 13px 19px 14px;
  }
  &__tel {
    @include g.font-size(16);
    font-weight: bold;
    text-align: right;
    fill: #fff;
    margin-bottom: 13px;
    @include g.mq(md) {
      margin-bottom: 0;
    }
  }
  &__tel-icon {
    height: 15px;
    margin-right: 5px;
  }
  &__hours {
    @include g.font-size(12);
    text-align: right;
    @include g.mq(md) {
      @include g.font-size(14);
    }
  }
  &__copyright {
    @include g.font-size(12);
    text-align: right;
    font-weight: bold;
    line-height: 36px;
    padding-right: 13%;
    @include g.mq(lg) {
      right: 8%;
    }
    @include g.mq(md) {
      right: 5%;
    }
  }
}
