@use "../../global" as g;

.p-question {
  padding: 0 15px;
  &__inner {
    max-width: 900px;
    padding-bottom: 90px;
    margin: 0 auto;
  }
  &__heading {
    margin-bottom: 32px;
  }
  &__list {
    &:last-of-type {
      border-bottom: 1px solid g.$color-primary;
    }
  }
  &__item {
    border-top: 1px solid g.$color-primary;
    @include g.font-size(16);
  }
  &__question,
  &__answer {
    padding: 31px 67px 21px 0;
  }
  &__question {
    position: relative;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      background-color: g.$color-primary;
      position: absolute;
      top: 50%;
      right: 21px;
      width: 25px;
      height: 3px;
    }
    &::after {
      transform: rotate(90deg);
      transition: 0.3s;
    }
    &.active {
      &::before {
        display: none;
      }
      &::after {
        transform: rotate(0deg);
      }
    }
  }
  &__answer {
    background-color: #f8f8f8;
    padding: 0;
    margin-bottom: 9px;
    opacity: 0;
    visibility: hidden;
    height: 0;
    line-height: 1;
    transition: height 0.3s, opacity 0.3s;
    line-height: 1.5;
    padding: 0;
    &.active {
      opacity: 1;
      visibility: visible;
      height: auto;
      padding: 23px 0 23px 25px;
    }
  }
}
